
/* Animação fundo */

section {
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: mygradient 2s ease infinite;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Lato';
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
}

@keyframes mygradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




/* Parte do Gi */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

header, footer {
    background-color: rgb(149, 164, 169);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
}

header {
    top: 0;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    bottom: 0;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding-top: 8%; /* Compensar a altura do cabeçalho */
    padding-bottom: 8%; /* Compensar a altura do rodapé */
}

section.screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.screen-1 { background-color: #cec8f9; color: white; }
.screen-2 { background-color: #090A0C; color: white; }
.screen-3 { background-color: #cec8f9; color: white; }
.screen-4 { background-color: #090A0C; color: white; }
.screen-5 { background-color: #cec8f9; color: white; }
.screen-6 { background-color: #090A0C; color: white; }
.screen-7 { background-color: #cec8f9; color: white; }
.screen-8 { background-color: #090A0C; color: white; }

.content h2 {
    font-size: 2.5rem;
}

.content p {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(77, 75, 77);
    border-radius: 5px;
}